In [1]:
import numpy as np
import pandas as pd

currency_label = ['USD','EUR','JPY','GBP','CHF','CAD','AUD','HKD']
money = np.asarray([70,100,20,80,40,70,60,100])

money_df = pd.DataFrame(data=money, index=currency_label, columns=["Amounts"])
money_df.T

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

         USD  EUR  JPY  GBP  CHF  CAD  AUD  HKD
Amounts   70  100   20   80   40   70   60  100

In [2]:
path = %pwd
conversion_rates_df = pd.read_csv(path+"/currencyConversionMatrix.csv",header=0,index_col=0)
conversion_rates_df

           USD     EUR       JPY     GBP     CHF     CAD     AUD      HKD
USD-To  1.0000  0.8364  111.3700  0.7404  0.9781  1.2548  1.2760   7.8218
EUR-To  1.1956  1.0000  133.1540  0.8852  1.1694  1.5002  1.5256   9.3517
JPY-To  0.0090  0.0075    1.0000  0.0066  0.0088  0.0113  0.0115   0.0702
GBP-To  1.3507  1.1297  150.4275  1.0000  1.3211  1.6949  1.7235  10.5649
CHF-To  1.0224  0.8551  113.8636  0.7569  1.0000  1.2829  1.3046   7.9969
CAD-To  0.7969  0.6666   88.7552  0.5900  0.7795  1.0000  1.0169   6.2335
AUD-To  0.7837  0.6555   87.2807  0.5802  0.7665  0.9834  1.0000   6.1299
HKD-To  0.1278  0.1069   14.2384  0.0947  0.1250  0.1604  0.1631   1.0000

In [7]:
conversion_rates = conversion_rates_df.values

In [9]:
money_total = np.matmul(money, conversion_rates)

In [12]:
money_total_df = pd.DataFrame(data=money_total, index=currency_label, columns=["Money totals"])
money_total_df.T

,USD,EUR,JPY,GBP,CHF,CAD,AUD,HKD
Money totals,454.277,379.96,50593.59,336.338,444.326,570.034,579.667,3553.307